* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* position: relative; */
  background: #000 url("./images/bg-5.jpg") no-repeat center center/cover;
  height: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.header-title {
  color: white;
  font-size: 50px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  z-index: 10;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}

.inline-form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

input[type="text"] {
  padding: 10px;
  font-size: 20px;
  width: 60%;
  margin: 0 60px;
  background-color: black;
  opacity: 0.5;
  color: white;
}

#type {
  padding: 11px;
  font-size: 20px;
  width: 20%;
  background-color: black;
  opacity: 0.5;
  color: white;
  /* margin: auto; */
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.namelabel {
  text-align: center;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.007em;
  font-family: "SF Pro Display";
  margin-top: 15px;
}

.artistlabel {
  text-align: center;
  color: rgba(50, 168, 151);
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 400;
  letter-spacing: 0.007em;
  font-family: "SF Pro Display";
  margin-top: 15px;
}

.label {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}

.detailimage {
  height: 350px;
  width: 350px;
  margin-top: 20px;
}

.button {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

.button:hover {
  cursor: pointer;
}

.nolabel {
  text-align: center;
  font-size: 40px;
}

@media (max-width: 1100px) {
  .detailimage {
    width: 400px;
    height: 400px;
    margin-top: 120px;
    margin-bottom: 40px;
  }
  .namelabel {
    font-size: 28px;
  }
  .artistlabel {
    font-size: 28px;
  }
  .label {
    font-size: 24px;
  }
  .button {
    margin-top: 40px;
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .detailimage {
    width: 350px;
    height: 350px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .namelabel {
    font-size: 24px;
  }
  .artistlabel {
    font-size: 24px;
  }
  .label {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 40px;
    margin-bottom: -50px;
  }

  input[type="text"] {
    width: 80%;
  }
  .detailimage {
    width: 310px;
    height: 300px;
    margin-top: 40px;
  }
  .namelabel {
    font-size: 20px;
  }
  .artistlabel {
    font-size: 20px;
  }
  .label {
    font-size: 16px;
  }
  .cards {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
  .button {
    padding: 10px 20px;
  }
  .inline-form {
    flex-direction: column;
    align-items: stretch;
  }
  input[type="text"] {
    padding: 5px;
    font-size: 20px;
    width: 80%;
    margin: auto;
  }
  #type {
    padding: 5px;
    font-size: 20px;
    width: 60%;
    margin: 20px auto;
  }
}